@bgColor:#00bcd4;
@darkTextColor:#333;
@greenColor:#389E01;
@greenColor1:#72C534;
@blackColor:#2F2F2F;
@grayColor:#828181;
@grayColor2:#B8B8B8;
@bggray:#F5F8FB ;
@redColor:#f00;
@hearderHig:1rem;
.redColor{
  color: @redColor!important;
}
.blueColor{
  color: @greenColor1!important;
}
.fontWeb{
  font-weight: 600
}
.noData{
  padding: .8rem 0;
  text-align: center;
  color: @grayColor2;
}